body {
    background:#fff;
}
.grid-block {
    padding-right: 25%;
    background-color: #CCC;
    height: 500px;
}
.evo-codeblock-label {
    line-height: 1.8rem;
    font-size: 1.3rem;
}
.evo-show-codeblock-button {
    text-transform: uppercase;
    line-height: 0;
    display: inline-block;
    font-size: .84rem;
    border: 1px solid;
    padding: 1.065rem .925rem .975rem .9em;
    background-color:#fff;
}
